@model WebApp.Controllers.Team
@{ ViewBag.Title = "Details"; }

<h2>@Model.Name</h2>
<table>
  <tbody>

  <tr>
    <td>Cups:</td>
    <td>@Model.Cups</td>
  </tr>

    <tr>
      <td>Captain:</td>
      <td>@Model.Captain</td>
    </tr>

  <tr>
    <td>Head Coach:</td>
    <td>@Model.HeadCoach</td>
  </tr>

  </tbody>
</table>

