<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
<h1>Demo App</h1>
<div style="margin: 2em; padding: 2em; border: solid black 1px">
	@RenderBody()
</div>
</body>
</html>
